@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
    --primary-color: #132440
}

body {
    font-family: "Inter";
    background-color: var(--primary-color)
}

html {
    background-color: var(--primary-color)
}

img, body {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none
}

.decoration:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.nodecoration:hover {
    text-decoration: none !important
}

.head-big-text {
    font-weight: 700;
}

.head-description-text {
    font-weight: normal;
}

.team-big-text {
    font-weight: 500;
}

.team-description-text {
    font-weight: normal;
}

@media only screen and (min-width: 768px) {
    .padding {
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }
    .head-big-text {
        font-size: 3em;
    }
    .head-description-text {
        font-size: 1.5em;
    }
    .team-big-text {
        font-size: 2em;
    }
    .team-description-text {
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .padding {
        padding-top: 8%;
        padding-bottom: 8%;
        padding-left: 4%;
        padding-right: 4%;
    }
    .head-big-text {
        font-size: 2.5em;
    }
    .team-big-text {
        font-size: 2.5em;
    }
}

#project {
    display: inline-block;
}

#project-asuna {
    filter: grayscale(100%)
}

#project-apptime {
    filter: grayscale(100%)
}

.tippy-box[data-theme~=ws] {
	color: #fff;
	/*box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15), 0 4px 80px -8px rgba(36, 40, 47, .25), 0 4px 4px -2px rgba(91, 94, 105, .15);*/
	background-color: black
}

.tippy-box[data-theme~=ws][data-placement^=top]>.tippy-arrow:before {
	border-top-color: black
}

.tippy-box[data-theme~=ws][data-placement^=bottom]>.tippy-arrow:before {
	border-bottom-color: black
}

.tippy-box[data-theme~=ws][data-placement^=left]>.tippy-arrow:before {
	border-left-color: black
}

.tippy-box[data-theme~=ws][data-placement^=right]>.tippy-arrow:before {
	border-right-color: black
}

.tippy-box[data-theme~=ws]>.tippy-backdrop {
	background-color: black
}

.tippy-box[data-theme~=ws]>.tippy-svg-arrow {
	background-color: black
	fill: 
}

.badge-beta {
    font-size: 12px;
    background-color: orange;
    padding: 5px 10px;
}

.team-card-position {
    font-size: 13px
}
